.footer-container {
  max-width: 1600px;
  margin: auto;
  margin-bottom: 40px;
}
.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links ul {
  font-size: 21px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-weight: 700;
  padding: 0px;
}
.footer-links ul li {
  color: #4e525a;
}
.footer-links ul li:hover {
  color: #6e06f2;
  cursor: pointer;
}
.footer-social {
  display: flex;
  align-items: center;
  column-gap: 40px;
  cursor: pointer;
}
.social-link {
  margin-right: 10px;
  color: #4e525a;
}

.social-link:hover {
  color: #6e06f2;
}
.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.work-container {
  display: flex;
  flex-direction: column;
}
.work-sub-container {
  color: #4e525a;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 20px;
}
.work-button {
  display: flex;
  column-gap: 20px;
}
.work-button-one {
  padding: 15px;
  color: aliceblue;
  background-color: #6e06f2;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  border: 1px #6e06f2;
}
.work-button-one:hover {
  opacity: 0.8;
  cursor: pointer;
}
.work-button-two {
  padding: 15px;
  color: #24262f;
  font-weight: 600;
  background-color: #fff;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #24262f;
}
.work-button-two:hover {
  background-color: #24262f;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
.copy-right {
  display: flex;
  font-size: 20px;
  color: #4e525a;
  margin-top: inherit;
}
