.story-wrapper h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 0;
}
.main-story-wrapper p {
  font-size: 22px;
  color: white;
  font-weight: 400;
  line-height: 2;
}
.main-story-sub-wrapper{
    /* border: 1px solid #6e06f777; */
    padding: 20px;
    width: 100%;
    /* border-radius: 20px; */
}
.main-story-sub-wrapper p {
  line-height: 2.5;
}
@media only screen and (max-width: 600px){
  .story-wrapper h1 {
    font-size: 40px;
    font-weight: 800;
  }

.main-story-wrapper p {
  font-size: 18px;
  color: white;
  font-weight: 400;
  line-height: 2;
}
.main-story-sub-wrapper{
  /* border: 1px solid #6e06f777; */
  /* padding: 40px; */
  width: auto;
  /* border-radius: 20px; */
}
}
