header {
  padding: 10px;
  /* max-width: 1400px; */
}
.header-responsive{
  display: none;
}
.hamburger-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.res-name-text{
  display: none;
}
.res-container {
  display: none;
}
.container {
  max-width: 1450px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-text {
  font-size: 21px;
  font-weight: 800;
  color: white;
}
.list-container ul {
  font-size: 22px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-weight: 700;
  
}

a:-webkit-any-link {
  text-decoration: none !important;
}
.list-container ul li {
  color: white;
}
.list-container ul li:hover{
  color: #6e06f2 !important;
  cursor: pointer; 
}
/* .list-container ul li:active {
  color: #6e06f2 !important;
} */

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact-container:hover{
    opacity: 0.9;
}

@media only screen and (max-width: 600px) {
  
.header-responsive{
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}
  .res-name-text{
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: white;
  }
  .res-container.show {
    display: block;
  }

  .res-container.show ul{
    display: block;
  }
  .res-container.show ul li {
    margin-top: 10px;
  }
  .res-container.show ul li:hover {
    color: #6e06f2;
    cursor: pointer; 
  }
  .container {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

}