header {
  padding: 5px;
}
.header-responsive{
  display: none;
}
.hamburger-icon {
  display: none;
  cursor: pointer;
  padding: 10px;
}
.res-name-text{
  display: none;
}
.res-container {
  display: none;
}
.container {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-text {
  font-size: 21px;
  font-weight: 800;
  color: #24262f;
}
.list-container ul {
  font-size: 22px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  font-weight: 700;
}

.list-container ul li {
  color: #4e525a;
}
.list-container ul li:hover {
  color: #6e06f2;
  cursor: pointer; 
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.contact-container:hover{
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
  header{
    max-width: 90%;
  }
.header-responsive{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}
  .res-name-text{
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #24262f;
  }
  .res-container.show {
    display: block;
  }

  .res-container.show ul{
    display: block;
  }
  .res-container.show ul li {
    margin-top: 10px;
  }
  .res-container.show ul li:hover {
    color: #6e06f2;
    cursor: pointer; 
  }
  .container {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

}